/* Google fonts: Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

:root {
    --text-color: #ffffff;
    --main-color: #007f96;
    --second-color: #007f9656;
}

* {
    font-family: Poppins, Arial;
    font-weight: 500;
    box-sizing: none;
}

.side-menu-wrapper {
    height: 100vh;
}

.card {
    border-bottom: 14px solid var(--main-color);
}

.card-header {
    border-bottom: 2px solid var(--main-color);
}

.card-body input {
    border-radius: 0;
    border-right: 8px solid var(--main-color);
}

.menu-list {
    margin-bottom: 10%;
    color: var(--text-color) !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    border-bottom: 5px solid var(--main-color) !important;
    transition: all 0.5s ease-in-out !important;
}

.menu-list:hover {
    color: var(--main-color) !important;
}

.logo-icon {
    color: var(--main-color);
    font-size: 4rem;
}

.card-dashboard {
    border-bottom: 5px solid var(--main-color) !important;
    transition: all 0.5s ease-in-out !important;

}

.card-dashboard:hover {
    transform: translateY(-5rem)
}

.card-dashboard .menu-list {
    color: var(--main-color) !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    transition: all 0.5s ease-in-out !important;
}

.card-dashboard .menu-list:hover {
    color: var(--second-color) !important;
}

.card-dashboard i {
    color: var(--main-color);
    font-size: 2rem;
}

thead {
    border-bottom: 4px solid var(--main-color) !important;
}